<ion-view title="Committee">
    <ion-content class="has-header">
        <div class="list card" ng-repeat="disec in diescs">
            <div class="item">
                <h2>Chairperson</h2>
            </div>
            <div class="item item-body">
                <p>Roy Lan</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-email"></i>
                    roylan@uenn.edu
                </a>
            </div>
        </div>
        <div class="list card" ng-repeat="disec in diescs">
            <div class="item">
                <h2>Committee Information</h2>
            </div>
            <div class="item item-body">
                <p>Blah blah blah blah</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-location"></i>
                    Cohen Hall
                </a>
                 <a class="tab-item">
                    <i class="icon ion-ios-book"></i>
                    View Background Guide
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>