<ion-view class ="home" view-title="Home">
  <ion-content scroll="false" style="background: #fff"class="has-header home">
   <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='img/landing.jpg' style='width:100%;height:100%' alt='[]' />
<!-- <div style="margin-bottom: 50px; background: #1A3469" class="row ">
  <img src="img/india-header-white.png" width="60%" height="70%"/>
  <i style="margin-left: 30px; margin-top: 20px; color: #fff;" class="fa fa-facebook fa-lg"></i>
  <i style="margin-left: 30px; margin-top: 20px; color: #fff;" class="fa fa-instagram fa-lg"></i>
  <i style="margin-left: 30px; margin-top: 20px; color: #fff;" class="fa fa-twitter fa-lg"></i>
</div>
<div style="margin-bottom: 40px;" class="row">
  <div class="col-30 col-offset-20"><button ng-click="go('/app/schedule')" class="button button-clear"><i style="color:#000" class="fa fa-calendar fa-5x"></i></button> <p style="margin-top: 40px;">Schedule</p></div>
  <div class="col-30 col-offset-20"><button ng-click="go('/app/sessions')" class="button button-clear"><i style="color:#000" class="fa fa-users fa-5x"></i></button> <p style="margin-top: 40px;">Committees</p></div>
</div>
<div  style="margin-bottom: 40px" class="row ">
  <div  class="col-30 col-offset-20"><button ng-click="go('/app/map')" class="button button-clear"><i style="color:#000" class="fa fa-map fa-5x"></i></button> <p style="margin-top: 40px;">Maps</p></div>
  <div  class="col-30 col-offset-20"><button ng-click="go('/app/contact')" class="button button-clear"><i style="color:#000" class="fa fa-phone fa-5x"></i></button> <p style="margin-top: 40px;">Contact Us</p></div>
</div>
<div class="row ">
  <div  class="col-30 col-offset-20"><button ng-click="go('/app/schedule')" class="button button-clear"><i style="color:#000" class="fa fa-info-circle fa-5x"></i></button> <p style="margin-top: 40px;">Announcements</p></div>
  <div  class="col-30 col-offset-20"><button ng-click="go('/app/sponsors')" class="button button-clear"><i style="color:#000" class="fa fa-dollar fa-5x"></i></button> <p style="margin-top: 40px;">Sponsors</p></div>
</div> -->

</div>

  </ion-content>
</ion-view>