<ion-view class ="home" view-title="Home">
  <ion-content class="has-header home">
  <style type="text/css">
  splash {

  width: 100%;

  height: 100%;

  padding-top: 35%;

  background-size: cover; }

  .splash .logo-bar {

    width: 100%;

    height: 22%;

    padding-top: 2.5%;

    background-color: rgba(34, 34, 34, 0.75); }

    .splash .logo-bar img {

      height: 78px;

      display: block;

      margin: auto; }

    .splash .logo-bar .flex-container {

      height: 100%;

      -webkit-box-pack: center;

      -webkit-justify-content: center;

          -ms-flex-pack: center;

              justify-content: center;

      -webkit-box-align: center;

      -webkit-align-items: center;

          -ms-flex-align: center;

              align-items: center; }

      .splash .logo-bar .flex-container img {

        height: 15%; }
      
    }
    </style>
  <!--<div class="splash">
    <div style="margin-top: 200px;" class="logo-bar">
    	<h3 style="text-align: center; color: #FFFFFF; font-family: serif">Welcome to</h3>
        <img src="img/india-header-white.png" />
        <button onclick="window.open(encodeURI('http://facebook.com/ilmuncindia'), '_blank', 'location=no');" class="button button-clear button-light center2"> <i class="icon ion-social-facebook"></i></button>
        <button onclick="window.open(encodeURI('http://instagram.com/ilmuncindia'), '_blank', 'location=no');" class="button button-clear button-light center2"> <i class="icon ion-social-instagram"></i></button>
    </div>
   </div> -->
   <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='img/splash2.jpg' style='width:100%;height:100%' alt='[]' />

</div>

  </ion-content>
</ion-view>