<ion-view view-title="Map">
        <ion-tabs class="tabs-icon-top">
            <ion-tab title="Around the Hotel" icon-on="ion-ios-world" icon-off="ion-ios-world-outline">
                <ion-content>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.930686489362!2d77.302087!3d28.661793999999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb1309a84761%3A0xa26409c61d703156!2sKempinski+Ambience+Hotel!5e0!3m2!1sen!2ske!4v1432208392284" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
</ion-content>
            </ion-tab>

            <ion-tab title="Level 1" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
                <ion-content has-header="true" padding="true">
                    <h2 style="padding-top: 35px;"> </h2>
      <ion-scroll zooming="true" direction="xy" style="width: 400px; height: 500px">
  <div style="width: 550px; height: 500px; background: url('http://www.starwoodhotels.com/pub/media/1776/S_1776_allflr.gif')"></div>
 </ion-scroll>
                </ion-content>
            </ion-tab>

            <ion-tab title="Level 2" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
                <ion-content has-header="true" padding="true">
                    <h2 style="padding-top: 35px;"> </h2>
                    <ion-scroll zooming="true" direction="xy" style="width: 400px; height: 500px">
  <div style="width: 650px; height: 500px; background: url('http://www.starwoodhotels.com/pub/media/1776/SI_1776_flr_mezzanine.gif')"></div>
 </ion-scroll>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </ion-view>