<ion-view view-title="Rules">
  <ion-content class="has-header">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg .tg-031e{font-family: Helvetica, sans-serif; padding-bottom: 15px; padding-right: 35px; padding-left: 35px; padding-top: 25px; vertical-align: middle; text-align: center;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e"><img src="img/ps_img.png"  width = "100px" height="135px"/></th>
    <th class="tg-031e">
    	<button class="button button-positive">Download</button>
    </th>
  </tr>
  <tr>
    <td class="tg-031e"><img src="img/wp_img.png"  width = "100px" height="135px"/></td>
    <td class="tg-031e">
      <button class="button button-positive">Download</button>
    </td>
  </tr>
  <tr>
    <td class="tg-031e"><img src="img/rules_img.png"  width = "100px" height="135px"/></td>
    <td class="tg-031e">
		<button class="button button-positive">Download</button>
    </td>
  </tr>
  <tr>
    <td class="tg-031e"><img src="img/rg_img.png"  width = "100px" height="135px"/></td>
    <td class="tg-031e">
		<button class="button button-positive">Download</button>
    </td>
  </tr>
</table>    
  </ion-content>
</ion-view>