<ion-view view-title="Partners and Speakers">
  <ion-content class="has-header">
     <!--  <ion-list>
        <div ng-repeat="partner in partners">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(partner)"
                    ng-class="{active: isGroupShown(partner)}">
              <i class="icon" ng-class="isGroupShown(partner) ? 'ion-minus' : 'ion-chevron-down' "></i>
            &nbsp;
            {{partner.name}}
          </ion-item>
          <ion-item class="item-accordion item-avatar item-icon-right"
                    ng-repeat="item in partner.items"
                    ng-show="isGroupShown(partner)"
                    href="#/app/{{item.page}}">
            <img ng-src="{{item.comPic}}">
            {{item.name}}<i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </div>
      </ion-list> -->
      <section class="content">
    <div class="row">
      <div class="main large-8 column text-justify">
        <h3 style="color: #fff"> Lead Partner </h3>

        <div class="tier1" style="width: 100px; margin: 0 auto;">
          <a href="#"><img src="img/dhruv.jpg"></a>
        </div>
        <h3 style="color: #fff">College Fair Partners</h3>
        <div class="tier2" style="width: 100%; margin: 0 auto;">
          <a href="#"><img src="img/sunny.jpg"></a>
          <a href="#"><img src="img/elise.jpg"></a>
          <a href="#"><img src="img/jyothi.jpg"></a>
        </div>
        <h3 style="color: #fff">Speakers</h3>
        <div class="tier3"  style="width: 100% ; margin: 0 auto;">
          <a href="#"><img src="img/elise.jpg"></a>
          <a href="#"><img src="img/jyothi.jpg"></a>
          <a href="#"><img src="img/hannah.jpg"></a>
        </div>

      </div>
  </ion-content>
</ion-view>