<ion-view view-title="Sponsors">
  <ion-content class="has-header">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg .tg-031e{font-family: Helvetica, sans-serif; padding-bottom: 35px; padding-right: 35px; padding-left: 35px; padding-top: 35px; vertical-align: middle; text-align: center;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e"><h3>Platinum</h3></th>
    <th class="tg-031e">
    	<img src="img/ana.jpg" />
    </th>
  </tr>
  <tr>
    <td class="tg-031e"><h3>Gold</h3></td>
    <td class="tg-031e">
    	<img src="img/dhruv.jpg" />
    	<img src="img/dhruv.jpg" />
    </td>
  </tr>
  <tr>
    <td class="tg-031e"><h3>Silver</h3></td>
    <td class="tg-031e">
		<img src="img/jyothi.jpg" />
    	<img src="img/jyothi.jpg" />
    	<img src="img/jyothi.jpg" />
    </td>
  </tr>
  <tr>
    <td class="tg-031e"><h3>Bronze</h3></td>
    <td class="tg-031e">
		<img src="img/hannah.jpg" />
		<img src="img/hannah.jpg" />
		<img src="img/hannah.jpg" />
		<img src="img/hannah.jpg" />
    </td>
  </tr>
</table>    
  </ion-content>
</ion-view>